html, body, #root, .route-wrapper {
  height: 100%;
}

body {
  font-size: 15px;
  background-color: #282c34;
  color: white;
}

.App {
  height: 100%;
  text-align: center;
}

h4 {
  margin: .5rem
}

input {
  display: block;
}
nav {
  position: fixed;
  height: 70px;
  text-align: center;
  list-style: none;
  width: 100%;
  z-index: 2;
  background-color: #282c34;
  border-bottom: dotted 1px white;
}

nav li {
  list-style: none;
}

.App-header {
  position: relative;
  top: 70px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: scroll;
}

.tweet {
  max-width: 600px;
  padding: 10px;
}

hr {
  width: 90%
}

.show-more-tweets {
  padding: 5px;
  cursor: pointer;
  border: dotted 1px white;
}

.show-more-tweets:hover {
  color: #282c34;
  background-color:sandybrown;
}


a {
  color: white;
}