html, body, #root, .route-wrapper {
  height: 100%;
}

body {
  font-size: 15px;
  background-color: #282c34;
  color: white;
}

.App {
  height: 100%;
}

h4 {
  margin: .5rem
}

input {
  display: block;
}

nav {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  list-style: none;
  background-color: orange;
  color: black;
  border-bottom: dotted 1px white;
  z-index: 2;
  cursor: pointer;
}

nav:hover {
  background-color:darkorange;
}


.x {
  padding: 5px;
}

nav a {
  color: inherit
}

nav li {
  list-style: none;
}

.App-header {
  margin: 0 auto;
  width: 600px;
  border: dotted 1px white;
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: scroll;
}

hr {
  width: 90%
}

.show-more-tweets {
  padding: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.show-more-tweets:hover {
  color: orange;
}


a {
  color: white;
}


.avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 5px;
}

.tweet {
  font-size: .9rem;
  max-width: 650px;
  display: flex;
  padding: 5px;
  border-bottom: dotted 1px white;
  padding-bottom: 15px;
  padding-top: 15px;
}

.tweet .right {
  padding-left: 10px;
}

.tweet .author .name {
  font-weight: 800;
}

.tweet .author .handle {
  padding-left: 5px;
  font-weight: 200;
}

.tweet .right p {
  margin: 5px;
}