body {
  font-size: 15px;
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tweet {
  max-width: 600px;
  padding: 10px;
}

hr {
  width: 90%
}

.show-more-tweets {
  padding: 5px;
  cursor: pointer;
}

.show-more-tweets:hover {
  color: #282c34;
  background-color:sandybrown;
}

nav {
  text-align: center;
  list-style: none;
}

nav li {
  list-style: none;
}

nav a {
  color: black;
}
header a {
  color: white;
}